.navbar 
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff0000; /* Red */
  padding: 10px 20px;
}
  
.navbar-logo a 
{
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 700;
}
  
.navbar-links 
{
  list-style: none;
  display: flex;
  gap: 20px;
  font-weight: 700;
}
  
.navbar-links li a 
{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1em;
}
  
.navbar-links li a:hover 
{
  text-decoration: underline;
}